[Unit]
Description=Check restic backup for errors
Conflicts=restic_helper_backup.service

[Service]
Type=simple
Restart=always
Nice=10
ExecStart=/usr/local/sbin/restic_helper_check.sh


[Install]
Alias=restic-helper-check.service
